* {
  margin: 0;
  box-sizing: border-box;
  word-break: break-word;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NavBar.jsx */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  padding: 0.6rem 1rem;
  background-color: black;
  color: white;
  font-weight: 700;
}

.logo span {
  color: rgb(0, 162, 255);
}

.menu {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  padding: 0;
}

.active {
  border-bottom: 2px solid rgb(0, 162, 255);
}

/* List.jsx */
.listGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Movie.jsx */
.movieContainer {
  background-size: cover;
  aspect-ratio: 1 / 1.5;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 1.5rem;

  background-color: #000000b4;
  opacity: 0;
  transition: 0.3s;
}

.movieContainer:hover .overlay {
  opacity: 1;
}

.listTitle {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.releaseDate {
  font-size: 0.9rem;
}

a {
  color: white;
  text-decoration: none;
}

/* Overview.jsx */
.overviewContainer {
  position: relative;
  background-size: cover;
  min-height: 90vh;
}

.backButton {
  position: absolute;
  top: 2rem;
  left: 1.6rem;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.backButton span {
  transition: all 0.3s;
}

.backButton:hover span {
  transform: translateX(0.3rem);
}

.posterAndInfoContainer {
  display: flex;
  color: white;
  align-items: flex-end;
  min-height: 94vh;
  gap: 1rem;
  padding: 0 0 3rem 2rem;
}

.posterImage {
  border: 5px solid white;
  max-width: 20rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: fit-content;
  padding-bottom: 1rem;
}

.overviewTitle {
  padding-right: 1rem;
}

.rating {
  background-color: white;
  color: black;
  padding: 0 0.2rem 0 0.1rem;
  vertical-align: center;
}

.starIcon {
  color: rgb(255, 181, 34);
}

.summary {
  line-height: 1.2rem;
  width: 25rem;
}

/* Loading Screen */
.loadingScreen {
  background-color: black;
  font-size: 2rem;
  font-weight: 700;
  color: lawngreen;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
}

@media (max-width: 785px) {
  .logo {
    display: none;
  }

  .header {
    justify-content: center;
  }

  .listGrid {
    grid-template-columns: 1fr 1fr;
  }

  .posterAndInfoContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 5rem;
  }

  .posterImage {
    border: 4px solid white;
    max-width: 15rem;
  }
}

@media (max-width: 520px) {
  .listGrid {
    grid-template-columns: 1fr;
  }

  .overviewContainer {
    min-height: 85vh;
  }

  .backButton {
    left: 0.9rem;
  }

  .oveviewTitle {
    width: 20;
  }

  .summary {
    width: 20rem;
  }
}
